<div ng-controller="editIgracCtrl">
	<h1>Izmena</h1>
	<form class="row">
	<div class="form-group">
		<label for="naziv">Ime</label>
		<input class="form-control" ng-model="noviIgrac.ime" id="naziv">
	</div>
	<div class="form-group">
		<label for="mesto">Prezime</label>
		<input class="form-control" ng-model="noviIgrac.prezime" id="mesto">
	</div>
	<div class="form-group">
		<label for="kontakt">Pozicija</label>
		<input class="form-control" ng-model="noviIgrac.pozicija" id="kontakt">
	</div>
	<div class="form-group">
			<label for="takmicenja">Klubovi</label> <select
				class="form-control" id="klubId"
				ng-model="noviIgrac.klubId">
				<option ng-repeat="k in klubovi" value="{{k.id}}">
					{{k.naziv}}</option>
			</select>
		</div>

		<button class="btn btn-warning" ng-click="edit()">Sačuvaj izmenu</button>
		<button class="btn btn-primary" ng-click="nazad()">Nazad</button>
	</form>
</div>